.costsContainer {
    padding: 1rem;
}

.costsDateContainerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
}

.costsDateList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.costCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    padding: .75rem;
}

.costCardInfo {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.costCategoryImage {
    position: relative;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 10rem;
    display: grid;
    place-content: center;
    font-size: 30px;
    opacity: .7;
}

.costCategoryImage::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10rem;
    background: rgba(0, 0, 0, .25);
    margin: 3px;
}

.costCategoryImageSymbol {
    z-index: 3;
}