footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footerWrapper {
    display: grid;
    place-content: space-evenly;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, minmax(50px, 1fr));
    gap: .25rem;
    margin: 1rem;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
    padding: 1rem .5rem;
    background-color: white;
}

footer a {
    -webkit-tap-highlight-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    gap: 5px;
}

.footerIconBackground {
    background: rgba(249, 160, 63, .1);
    width: 50px;
    height: 50px;
    border-radius: 15px;
    display: grid;
    place-content: center;
}

.footerIconBackground img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.footerIconTitle {
    font-size: 8px;
    color: rgba(0, 0, 0, .8);
}
