#root {
    padding-bottom: 7rem;
}

.emptyPage {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    place-content: center;
    place-items: center;
    gap: 1rem;
    padding: 1rem;
}

.emptyPage img {
    width: 100px;
    opacity: .7;
}

.emptyPage h2 {
    padding: 0 3rem;
    font-size: 1.25rem;
    text-align: center;
    font-weight: normal;
}

.addPopUpContainer {
    position: fixed;
    z-index: 9999;
    background: rgba(0, 0, 0, .5);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 1rem;
    animation: popUpStart .35s ease-out forwards;
}

@keyframes popUpStart {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.backLink {
    z-index: 99999;
    width: 100vw;
    height: 100vh;
}

.addForm {
    z-index: 99999;
    width: 100%;
    padding: 1.5rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: .75rem;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    animation: formStart .35s ease-out forwards;
}

@keyframes formStart {
    from {
        transform: translateY(50vh);
    }

    to {
        transform: translateY(0);
    }
}

.addForm h2 {
    margin: 0;
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: 1.25rem;
}

.addForm input:not([type="color"]), .addForm select {
    font-size: 1rem;
    padding: .75rem 1rem;
    width: 100%;
    border: 3px solid rgba(249, 160, 63, .3);
    border-radius: 10rem;
    text-align: center;
}

.addForm select {
    appearance: none;
}

.addForm p {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addForm input[type="color"] {
    -webkit-appearance: none;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    margin-right: .5rem;
}

.addForm input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.addForm input[type="color"]::-webkit-color-swatch {
    border: none;
}

.addForm button {
    color: white;
    padding: .75rem 5rem;
    font-size: 1rem;
    border: 0;
    border-radius: 10rem;
    background: rgba(249, 160, 63, 8);
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
    margin-top: .5rem;
    cursor: pointer;
}

.addFormErrorMessage {
    width: 100%;
    background: rgba(255, 0, 0, .1);
    color: red;
    border: 3px solid red;
    border-radius: 10px;
    padding: 1rem;
    display: none;
}