[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
mypy = "*"
pycodestyle = "*"
coverage = "*"

[packages]
django = "*"
dj-database-url = "*"
django-allauth = "*"
gunicorn = "*"
psycopg2-binary = "*"
whitenoise = "*"
python-dateutil = "*"
djangorestframework = "*"
django-service-objects = "*"
dj-rest-auth = "*"
pyyaml = "*"
uritemplate = "*"

[requires]
python_version = "3.8"
