{% extends 'base.html' %}

{% load static %}

{% block title %}Incomes{% endblock %}

{% block content %}

{% include 'dates.html' with date=date incomes=True %}

<div class="changer">
    <a href="{% url 'costs_for_the_date' date.date %}" class="changer_link">Costs</a>
    <span class="changer_current">Incomes</span>
</div>

<a href="{% url 'create_income' %}" class="create_button">Add Income</a>

{% if incomes %}
    {% include 'incomes_list.html' with incomes=incomes total_sum=total_sum %}
{% else %}
    <p class="empty_text">You don't have any incomes for this day</p>
{% endif %}
{% endblock %}
