$shadow: 0 0 40px 0 rgba(0, 0, 0, .25);
$input-background: rgba(196, 196, 196, .25);
$input-shadow: rgba(249, 160, 63, .3);
$input-text-color: #c4c4c4;
$red-color: #EE2E31;
$button-gradient-background: linear-gradient(to right bottom, #F9A03F 20%, #201E1F 80%);