form {

  .form_error {
    color: $red-color;
    border: 2px solid $red-color;
    padding: 1rem;
    border-radius: .5rem;
    background-color: $transparent-red-color;
  }

  .input_field {
    display: grid;
    gap: 1rem;

    input:not([type="color"]) {
      width: 100%;
      font-size: 1rem;
      color: $text-color;
      box-shadow: 0 0 0 3px $input-shadow;
      border-radius: 10rem;
      padding: 1rem;
      background-color: $input-background;
      text-align: center;
      transition: background-color .25s ease-in-out, color .25s ease-in-out;

      &:focus {
        background-color: transparent;
      }

      &::placeholder {
        color: $input-text-color;
      }
    }

    input[type="color"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 40px;
      height: 40px;
      border: 0;
      overflow: hidden;
      background: transparent;
      outline: none;
      place-self: center;
    }

    input[type="color"]::-webkit-color-swatch-wrapper {
      padding: 0;
      width: 37px;
      height: 37px;
    }
    
    input[type="color"]::-webkit-color-swatch {
      border: none;  
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    span {
      color: $red-color;
      padding-left: 1rem;
    }
  }

  button {
    width: fit-content;
    place-self: center;
    padding: 1rem 4rem;
    border-radius: 10rem;
    border: 0;
    background: $button-gradient-background;
    color: white;
    font-size: 1rem;
  }
}

@mixin authenticationForm {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;

  h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  form {
    width: 100%;
    padding: 2rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .25);
    display: grid;
    gap: 1.25rem;
    max-width: 500px;
  }

  .registration_link {
    text-align: center;

    a {
      color: $add-category-plus-color;
    }
  }
}