.accountPage {
    padding: 1rem;
}

.themeChoicer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.themeChoiceTitle {
    font-size: 1.25rem;
}

.themeButtons {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    border-radius: 15px;
    gap: .5rem;
}

.themeButton {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    display: grid;
    place-content: center;
    place-items: center;
}

.themeButton::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(249, 160, 63, .3);
    border-radius: 10px;
    z-index: 2;
}

.themeButton img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin: 0 auto;
}