/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* colors */
:root {
  --background-black: #232323;
  --background-blacker: #1B1B1B;
  --color-text: #fff;
  --orange-800: #66401E;
  --orange-500: #FF9F4A;
  --blue-900: #0F2D33;
  --blue-500: #4ADFFF;
}

/* text */
:root {
  --main-text-size: 14px;
  --small-text-size: 10px;
  --header1-text-size: 32px;
  --header2-text-size: 24px;
  --header3-text-size: 18px;

  --line-height: 140%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  user-select: none;
}

body {
  color: var(--color-text);
  background: var(--background-blacker);
  line-height: var(--line-height);
  font-family: 'Roboto', sans-serif;
  font-size: var(--main-text-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: var(--header1-text-size);
}

h2 {
  font-size: var(--header2-text-size);
}

h3 {
  font-size: var(--header3-text-size);
}

small {
  font-size: var(--small-text-size);
}

p, input, button {
  font-size: var(--main-text-size);
}

a {
  text-decoration: none;
  color: var(--color-text);
}
