@import "./base.css";

main {
  width: 100%;
  padding: 1em;
  padding-bottom: 150px;
}

input, button {
  border: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

form {
  width: 100%;
  background-color: var(--background-black);
  border-radius: 20px;
  padding: 1.5em;
  display: grid;
  place-items: center;
  gap: 1em;
}

form h2 {
  margin: .5em 0;
}

form button, form select, form input {
  transition: background-color .25s ease-out, color .25s ease-out, border-color .25s ease-out;
}

form input, form select {
  width: 100%;
  padding: 1em;
  border-radius: 100px;
  border: 3px solid var(--orange-500);
  background-color: var(--background-black);
  color: var(--color-text);
  text-align: center;
}

form button {
  width: 100%;
  padding: 1em;
  border-radius: 100px;
  background-color: var(--blue-900);
  color: var(--blue-500);
  cursor: pointer;
}

.completed_submit_button {
  background-color: var(--blue-500);
  color: var(--background-black);
}

form .error_message {
  width: 100%;
  background: rgba(255, 0, 0, .15);
  color: rgba(255, 0, 0, .8);
  border: 2px solid rgba(255, 0, 0, .8);
  border-radius: 10px;
  padding: 1em;
}

form a {
  color: var(--blue-500);
}

.popup_form_container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5000;
  background: rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1em;
}

.close_div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5001;
}

.popup_form_container form {
  z-index: 9999;
}

.popup_form-enter-from, .popup_form-leave-to {
  opacity: 0;
}

.popup_form-enter-from form, .popup_form-leave-to form {
  transform: translateY(200px);
}

.popup_form-enter-to, .popup_form-leave-from {
  opacity: 1;
}

.popup_form-enter-active {
  transition: opacity .25s ease-out;
}

.popup_form-leave-active {
  transition: opacity .25s .15s ease-out;
}

.popup_form-enter-active form, .popup_form-leave-active form {
  transition: transform .5s ease-out;
}