.categoriesList {
    margin-top: 2rem;
    width: 100%;
    display: grid;
    place-content: space-evenly;
    grid-template-columns: repeat(4, minmax(70px, 1fr));
    padding: 1rem;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: .25rem;
}

.categoryCostsLimit, .categoryCostsSum, .addCategoryButtonTitle {
    font-size: .75rem;
}

.categoryImage {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 20rem;
    color: white;
    display: grid;
    place-content: center;
    font-size: 30px;
}

.categoryImage::after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 5px;
    background: rgba(0, 0, 0, .5);
    border-radius: 10rem;
    z-index: 2;
}

.categoryImageCurrency {
    z-index: 3;
}

.addCategoryButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: .25rem;
}

.addCategoryButtonImage {
    display: grid;
    place-items: end center;
    width: 60px;
    height: 60px;
    background: linear-gradient(to left bottom, rgba(249, 160, 63, .8), #201E1F);
    border-radius: 20rem;
    color: white;
    display: grid;
    place-items: center;
    font-size: 1.75rem;
}

.addIncomeButtonContainer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 8.5rem;
    display: grid;
    place-content: center;
}

.addIncomeButton {
    padding: .9rem 2.5rem;
    border-radius: 10rem;
    background: linear-gradient(to right bottom, rgba(108, 197, 81, .8), #201E1F);
    color: white;
    text-align: center;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, .25);
}