{% load static %}
{% load cache %}

<div class="total_sum_container">
    <div class="total_sum">Total sum: {{ total_sum }} &#8381;</div>
</div>

{% for cost in costs %}
    <div class="cost">
        <div class="cost_left">
            {% cache 604800 cost_image %}
                <img src="{% static 'images/rouble.png' %}" class="costs_image">
            {% endcache %}
            <div class="cost_title_and_date">
                {% if with_costs_date %}
                    <div class="costs_title">{{ cost.title }} ({{ cost.date }})</div>
                {% else %}
                    <div class="costs_title">{{ cost.title }}</div>
                {% endif %}
                <div class="costs_category">{{ cost.category.title }}</div>
            </div>
        </div>
        <div class="cost_right">
            <div class="costs_sum">- {{ cost.costs_sum }} &#8381;</div>
            <a href="{% url 'change_cost' cost.pk %}" class="cost_edit_button"></a>
        </div>
    </div>
{% endfor %}
