<div class="profit">
    <h2>Monthly profit:</h2>
    <p>{{ profit }} &#8381;</p>
</div>

<canvas id="statistic_graph"></canvas>

<script>
    let graph = document.getElementById('statistic_graph').getContext('2d');

    function create_graph(data, context) {
        let categories = [];
        let costs = [];

        if (document.documentElement.clientWidth > 1024) {
            context.canvas.width = 500;
            context.canvas.height = 500;
        } else {
            context.canvas.width = 300;
            context.canvas.height = 300;
        }

        for (let stat of data) {
            categories.push(stat.category);
            costs.push(stat.costs);
        }

        let chart = new Chart(context, {
            type: 'pie',
            data: {
                labels: categories,
                datasets: [{
                    label: 'Costs',
                    data: costs,
                    backgroundColor: "#333",
                }],
            },
            options: {
                title: {
                    display: true,
                    text: 'Costs for each category per month'
                },
                responsive: false
            }
        })
    }

    async function get_data() {
        let current_date = document.querySelector('.dates_current_date');
        let date_string = current_date.textContent.trim();
        let url = `/costs/${date_string}/statistic/json/`;
        let response = await fetch(url);
        let json = await response.json();
        return json;
    }

    get_data().then(data => create_graph(data, graph));
</script>
