.cardsList {
    width: 100%;
    padding: 1rem;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 1.5rem;
}

.card {
    display: grid;
    place-content: center start;
    grid-template-columns: repeat(2, min-content);
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .075);
}

.cardInfo {
    display: grid;
    place-content: center start;
    gap: .25rem;
}

.cardImage {
    width: 60px;
    height: 60px;
    border-radius: 20rem;
}

.cardTitle {
    font-size: 1.25rem;
}

.cardAmount {
    font-size: 1rem;
}

.addCardButtonContainer {
    position: fixed;
    bottom: 8.5rem;
    left: 0;
    right: 0;
    display: grid;
    place-content: center;
}

.addCardButton {
    position: relative;
    padding: .9rem 2.5rem;
    border-radius: 10rem;
    color: white;
    text-align: center;
    box-shadow: 0 0 20px rgba(80, 178, 192, .2);
}

.addCardButton::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(80, 178, 192, .6);
    border-radius: 10rem;
    z-index: 2
}

.addCardButton span {
    position: relative;
    z-index: 3;
}