.costsIncomesNavContainer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 8.5rem;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    overflow: hidden;
}

.costsIncomesNavButtons {
    display: flex;
    width: min-content;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10rem;
}

.costsIncomesNavButton {
    width: 6rem;
    text-align: center;
    padding: .75rem 0;
    border-radius: 10rem;
}

.costsIncomesNavButtonCosts {
    z-index: 101;
    background: rgba(238, 46, 49, .5);
    color: white;
}

.costsIncomesNavButtonIncomes {
    z-index: 101;
    background: rgba(108, 197, 81, .5);
    color: white;
}