{% extends 'base.html' %}

{% block title %}Categories{% endblock %}

{% block content %}
<h1 class="categories_header">Categories</h1>
<a href="{% url 'create_category' %}" class="create_button">Add Category</a>
{% if categories %}
    <div class="category_list">
        {% for category in categories %}
        <div class="category">
            <div class="category_title">{{ category.title }}</div>
            <a class="category_edit_button" href="{% url 'change_category' category.pk %}"></a>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p class="empty_text">You don't have any categories</p>
{% endif %}
{% endblock content %}
