{% extends 'base.html' %}

{% load static %}

{% block title %}Costs{% endblock %}

{% block content %}

{% include 'dates.html' with date=date %}

<div class="changer">
    <span class="changer_current">Costs</span>
    <a href="{% url 'incomes_for_the_date' date.date %}" class="changer_link">Incomes</a>
</div>

<a href="{% url 'create_cost' %}" class="create_button">Add Cost</a>

{% if costs %}
    {% include 'costs_list.html' with costs=costs total_sum=total_sum %}
{% else %}
    <p class="empty_text">You don't have any costs for this day</p>
{% endif %}
{% endblock %}
