{% extends 'base.html' %}

{% block title %}Statistic{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}

{% block content %}
<h1 class="categories_header">Statistic</h1>

{% if costs %}
    {% include 'statistic.html' with profit=profit %}

    <script>
        let graph = document.getElementById('statistic_graph').getContext('2d');

        function create_graph(data, context) {
            let categories = [];
            let costs = [];

            if (document.documentElement.clientWidth > 1024) {
                context.canvas.width = 500;
                context.canvas.height = 500;
            } else {
                context.canvas.width = 300;
                context.canvas.height = 300;
            }

            for (let stat of data) {
                categories.push(stat.category);
                costs.push(stat.costs);
            }

            let chart = new Chart(context, {
                type: 'pie',
                data: {
                    labels: categories,
                    datasets: [{
                        label: 'Costs',
                        data: costs,
                        backgroundColor: "#333",
                    }],
                },
                options: {
                    title: {
                        display: true,
                        text: 'Costs for each category per month'
                    },
                    responsive: false
                }
            })
        }

        async function get_data() {
            let response = await fetch('/statistic/json/');
            let json = await response.json();
            return json;
        }

        get_data().then(data => create_graph(data, graph));
    </script>

    <div class="changer">
        <span class="changer_current">Costs</span>
        <a href="{% url 'incomes_statistic_page' %}" class="changer_link">Incomes</a>
    </div>

    {% include 'costs_list.html' with costs=costs total_sum=total_sum with_costs_date=True %}
{% else %}
    <p class="empty_text">You don't have any costs</p>
{% endif %}
{% endblock %}
