{% extends 'base.html' %}

{% block title %}Statistic{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}

{% block content %}
<div class="dates">
    <div class="dates_left_button">
        <a href="{% url 'incomes_statistic_page' previous_date %}">&lt;</a>
    </div>
    <div class="dates_current_date">
        {{ date }}
    </div>
    <div class="dates_right_button">
        <a href="{% url 'incomes_statistic_page' next_date %}">&gt;</a>
    </div>
</div>

{% if costs %}
    {% include 'statistic.html' with profit=profit average_costs=average_costs %}
{% endif %}

<div class="changer">
    <a href="{% url 'costs_statistic_page' date %}" class="changer_link">Costs</a>
    <span class="changer_current">Incomes</span>
</div>

{% if incomes %}
    {% include 'incomes_list.html' with incomes=incomes total_sum=total_sum %}
{% else %}
    <p class="empty_text">You don't have any incomes for this month</p>
{% endif %}
{% endblock %}
