{% extends 'base.html' %}

{% block title %}Statistic{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}

{% block content %}
<h1 class="categories_header">Statistic</h1>

{% include 'statistic.html' with profit=profit %}

<div class="changer">
    <a href="{% url 'costs_statistic_page' %}" class="changer_link">Costs</a>
    <span class="changer_current">Incomes</span>
</div>

{% if incomes %}
    {% include 'incomes_list.html' with incomes=incomes total_sum=total_sum %}
{% else %}
    <p class="empty_text">You don't have any incomes</p>
{% endif %}
{% endblock %}
